DOMAIN=127.0.0.1
PORT=80

WP_VERSION=latest
WP_LOCALE=en_US
WP_BLOG_NAME=Project
WP_TBL_PREFIX=wp_
WP_ADMIN_LOGIN=admin
WP_ADMIN_PASSWORD=admin
WP_ADMIN_EMAIL=dev@example.com

DB_VERSION=latest
DB_NAME=wordpress
DB_ROOT_PASSWORD=password
